<div class="card">
    <div class="card-header">
        Dados
    </div>
    <div class="card-body">
        <h5 class="card-title">Nome:{{pessoa_id.nome}}</h5>
        <h5 class="card-title">telefone:{{pessoa_id.telefone}}</h5>
        <h5 class="card-title">email:{{pessoa_id.email}}</h5>
        <h5 class="card-title">endereco:{{pessoa_id.endereco}}</h5>
        <h5 class="card-title">bairro:{{pessoa_id.bairro}}</h5>
        <h5 class="card-title">cidade:{{pessoa_id.cidade}}</h5>
        <h5 class="card-title">estado:{{pessoa_id.estado}}</h5>
        <h5 class="card-title">cep:{{pessoa_id.cep}}</h5>
        <h5 class="card-title">data_nascimento:{{pessoa_id.data_nascimento}}</h5>
        <h5 class="card-title">rg:{{pessoa_id.rg}}</h5>
        <h5 class="card-title">cpf:{{pessoa_id.cpf}}</h5>
        <h5 class="card-title">cnpj:{{pessoa_id.cnpj}}</h5>
        <h5 class="card-title">nome_empresa:{{pessoa_id.nome_empresa}}</h5>
    </div>
</div>